@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/asset/fonts/NeueHaasUnica-Medium.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'NeueHaasUnica';
    src: url('/asset/fonts/NeueHaasUnica-Regular.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Eina03';
    src: url('/asset/fonts/Eina03-Regular.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Eina03';
    src: url('/asset/fonts/Eina03-SemiBold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Eina03';
    src: url('/asset/fonts/Eina03-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/asset/fonts/Noto Sans KR-Light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/asset/fonts/Noto Sans KR-Medium.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/asset/fonts/Noto Sans KR-Bold.woff2');
    font-weight: 700;
}