footer{
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    // justify-content: space-between;
    padding: 74px 40px 30px;
    font-size: 18px;
    color: #222;
    letter-spacing: -0.025em;
    line-height: 26px;
    font-weight: 600;
    font-family: 'Noto Sans KR';
    a{display: block;}
    .btn-top{
        position: fixed;
        right: 25px;bottom: 30px;
        z-index: 100;
        display: block;
        width: 27px;height: 33px;
        opacity: 0;visibility: hidden;
        transition: .7s ease-in-out;
        background: url(../images/icons/top-arrow.png) center/100% no-repeat;
        &.show{
            opacity: 1;visibility: visible;
        }
        &.up{
            transform: translate(0,-500%);
        }
    }
    .logo{
        width: 163px;height: 26px;
        margin-right: 27%;
        background: url(../images/logo/logo.png) left 0 top 0/100% no-repeat;
        a{
            display: block;height: 100%;
        }
    }
    .address-area{
        width: 30%;
    }
    .sns-area{
        width: 15%;
        color: #000;
    }
    .ask-area{
        display: flex;
        width: 45%;
        .ask-box{width: 50%;}
    }
    .copy{
        display: none;
    }
    @include tablet{
        padding: 20px 13px 20px 20px;
        flex-direction: column;
        .btn-top{
            right: 15px;bottom: 20px;
            width: 18px;height: 20px;
            &.up{
                transform: translate(0, 0);
            }
        }
        .logo{
            margin-bottom: 18px;
        }
        .address-area{
            width: 100%;
            margin-bottom: 18px;
        }
        .sns-area{
            margin-bottom: 18px;
        }
        .ask-area{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            margin-bottom: 18px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            .ask-box{
                width: 45%;
            }
        }
        .copy{
            display: block;
            font-weight: 500;
        }
    }
    @include mobile{
        font-size: 14px;
        line-height: 20px;
        .logo{
            width: 138px;height: 21px;
        }
        .address-area{
            width: 100%;
            margin-bottom: 18px;
        }
        .sns-area{
            margin-bottom: 18px;
        }
        .ask-area{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            margin-bottom: 18px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            .ask-box{
                width: 45%;
            }
        }
        .copy{
            display: block;
            font-weight: 500;
        }
    }
}